<!DOCTYPE html>
<html lang="en">
<head>
    <nav>
        <div style="text-align: center;">
            <!--            <button onclick="Promitquestion()">Click here to try JS code</button>-->
        </div>
        <ul>
            <a></a>
            <a></a>
        </ul>
    </nav>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script th:src="@{/js/myjs.js}"></script>
    <title>Albumlist</title>
</head>
<body>

<ul th:each="albumslist: ${albumslist}">
    <tr>
        <th><span th:text="${albumslist}"></span></th>

    </tr>
</ul>

</body>
<footer>

    <div>

    </div>
</footer>
</html>