<!DOCTYPE html>
<html lang="en">
<head>
    <div class="navbar" th:fragment="header">





    </div>
    <nav>
        <div style="text-align: center;">
            <!--            <button onclick="Promitquestion()">Click here to try JS code</button>-->
        </div>
        <ul>
            <a></a>
            <a></a>
        </ul>
    </nav>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script th:src="@{/js/myjs.js}"></script>
    <title>Hello World</title>
</head>
<body>
<div style="text-align: center;"><h1>Hello World</h1></div>
<ul >
    <li>
        <a  href="/">Home Page</a>
    </li>
    <li>
        <a href="/albumslist" >Albums lists 3 instances</a>
    </li>
    <li>
        <a href="/allalbums" >All Album</a>
    </li>
    <li>
        <a href="/addalbum" >Add Album</a>
    </li>
    <li>
        <a href="/createsong" >Add Song</a>
    </li>

    <!--/album/{id}-->
    <!--/addsongto/{id}-->

</ul>
</body>
<footer>

    <div>
        <h6> &copy; 2022 All rights reserved </h6>    <h6> Albums </h6>

    </div>
</footer>
</html>